<p>register works!</p>
<div>
    <h1>Registraion</h1>
    <form #registrationForm="ngForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <mat-label for="username">User Name</mat-label>
                <input name="username" matInput [(ngModel)]="username">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input name="email" matInput placeholder="pat@example.com" [(ngModel)]="email" 
                    required>
                <mat-error *ngIf="!email || !isValidEmail(email)">Not a valid email</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input matInput name="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" required>
                <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" >
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <p>Already have an account <a href="/auth/login/">Login</a></p>
        <button 
        mat-raised-button color="primary" 
        routerLinkActive="active" 
        ariaCurrentWhenActive="page"
        type="submit"
        [disabled]="!registrationForm.form.valid">
            Register
        </button>
    </form>
</div>